Let's assume that the first time they appear is when they are 'recruited'. Once they are at a new place, let's make that connection show up?

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('team_roster_data_untouched.csv')

In [4]:
print(df.columns)
df.dropna(subset=["firstName", "lastName"], inplace=True)
df.reset_index(drop=True, inplace=True)

Index(['id', 'firstName', 'lastName', 'team', 'weight', 'height', 'jersey',
       'year', 'position', 'homeCity', 'homeState', 'homeCountry',
       'homeLatitude', 'homeLongitude', 'homeCountyFIPS', 'recruitIds'],
      dtype='object')

In [5]:
p = {}
current_ids = set[str]()

for i in range(len(df)):

    # Get data
    team = df.loc[i, 'team']
    first, last = df.loc[i, 'firstName'], df.loc[i, 'lastName']
    name = f"{first} {last}"
    ID = df.loc[i, 'id']

    # Check if there is a new name
    if ID not in current_ids:
        current_ids.add(ID)
        p[ID] = {
            "name": name,
            "teams": [team]
        }
    else:
        p[ID]["teams"].append(team)

In [6]:
with open("names.txt", "w") as f:
    for ID, data in p.items():
        f.write(f"{data['name']}: {', '.join(map(str, data['teams']))}\n")

In [7]:
team_lens = {}
names_to_check = []

for ID, data in p.items():
    current_len = len(data['teams'])
    if current_len not in team_lens:
        team_lens[current_len] = 0
    team_lens[current_len] += 1

    if current_len > 7:
        names_to_check.append(ID)

for i in sorted(team_lens.keys()):
    print(f"{i}: {team_lens[i]}")

1: 51884
2: 27417
3: 20984
4: 22571
5: 11936
6: 2955
7: 406
8: 52
9: 6
10: 4
11: 3
13: 3
14: 1

In [8]:
print(names_to_check)

[np.int64(147386), np.int64(160248), np.int64(157607), np.int64(183335), np.int64(189239), np.int64(191520), np.int64(241147), np.int64(174194), np.int64(232454), np.int64(237150), np.int64(480950), np.int64(485026), np.int64(3929118), np.int64(518336), np.int64(545729), np.int64(546537), np.int64(559719), np.int64(559747), np.int64(3125958), np.int64(536118), np.int64(3895827), np.int64(3916620), np.int64(552356), np.int64(3672882), np.int64(3707332), np.int64(3895858), np.int64(3910654), np.int64(3912561), np.int64(3932934), np.int64(3949056), np.int64(4038464), np.int64(3860070), np.int64(3916437), np.int64(4029790), np.int64(4038729), np.int64(4039555), np.int64(4046683), np.int64(4047647), np.int64(4243960), np.int64(3916833), np.int64(3917959), np.int64(3918640), np.int64(3929783), np.int64(4034854), np.int64(4036216), np.int64(4036332), np.int64(4037304), np.int64(4240493), np.int64(4243220), np.int64(4362646), np.int64(4569594), np.int64(4571882), np.int64(4038961), np.int64(4039599), np.int64(4239084), np.int64(4242306), np.int64(4569288), np.int64(4241833), np.int64(4258193), np.int64(4360522), np.int64(4360801), np.int64(4372540), np.int64(4360303), np.int64(4361090), np.int64(4362791), np.int64(4362188), np.int64(4427313), np.int64(4429841), np.int64(4569001)]

In [9]:
# This guy actually only played in 2014
print(df[df["id"] == 147386])

            id firstName lastName   team  weight  height  jersey  year  \
2614    147386      Josh    Smith  Akron     NaN    73.0    47.0  2004
5569    147386      Josh    Smith  Akron     NaN    73.0    47.0  2005
8773    147386      Josh    Smith  Akron     NaN    73.0    47.0  2006
12449   147386      Josh    Smith  Akron     NaN    73.0    47.0  2007
16861   147386      Josh    Smith  Akron     NaN    73.0    47.0  2008
28763   147386      Josh    Smith  Akron     NaN    73.0    47.0  2009
42599   147386      Josh    Smith  Akron     NaN    73.0    47.0  2010
57004   147386      Josh    Smith  Akron     NaN    73.0    47.0  2011
71490   147386      Josh    Smith  Akron     NaN    73.0    47.0  2012
86273   147386      Josh    Smith  Akron     NaN    73.0    47.0  2013
101451  147386      Josh    Smith  Akron     NaN    73.0    47.0  2014

       position    homeCity homeState homeCountry  homeLatitude  \
2614         WR  Cincinnati        OH         USA     39.101454
5569         WR  Cincinnati        OH         USA     39.101454
8773         WR  Cincinnati        OH         USA     39.101454
12449        WR  Cincinnati        OH         USA     39.101454
16861        WR  Cincinnati        OH         USA     39.101454
28763        WR  Cincinnati        OH         USA     39.101454
42599        WR  Cincinnati        OH         USA     39.101454
57004        WR  Cincinnati        OH         USA     39.101454
71490        WR  Cincinnati        OH         USA     39.101454
86273        WR  Cincinnati        OH         USA     39.101454
101451       WR  Cincinnati        OH         USA     39.101454

        homeLongitude  homeCountyFIPS recruitIds
2614        -84.51246         39061.0         []
5569        -84.51246         39061.0         []
8773        -84.51246         39061.0         []
12449       -84.51246         39061.0         []
16861       -84.51246         39061.0         []
28763       -84.51246         39061.0         []
42599       -84.51246         39061.0         []
57004       -84.51246         39061.0         []
71490       -84.51246         39061.0         []
86273       -84.51246         39061.0         []
101451      -84.51246         39061.0         []

In [10]:
print(df[df["id"] == names_to_check[1]])
# He registered in 2004, but didn't play until 2009?

           id firstName lastName            team  weight  height  jersey  \
3329   160248      Mike   Naples  Boston College     NaN    76.0    89.0
6572   160248      Mike   Naples  Boston College     NaN    76.0    89.0
9740   160248      Mike   Naples  Boston College     NaN    76.0    89.0
13155  160248      Mike   Naples  Boston College     NaN    76.0    89.0
17088  160248      Mike   Naples  Boston College     NaN    76.0    89.0
28787  160248      Mike   Naples  Boston College     NaN    76.0    89.0
42604  160248      Mike   Naples  Boston College     NaN    76.0    89.0
57008  160248      Mike   Naples  Boston College     NaN    76.0    89.0
71493  160248      Mike   Naples  Boston College     NaN    76.0    89.0
86277  160248      Mike   Naples  Boston College     NaN    76.0    89.0

       year position    homeCity homeState homeCountry  homeLatitude  \
3329   2004       TE  Branchburg        NJ         USA     40.603041
6572   2005       TE  Branchburg        NJ         USA     40.603041
9740   2006       TE  Branchburg        NJ         USA     40.603041
13155  2007       TE  Branchburg        NJ         USA     40.603041
17088  2008       TE  Branchburg        NJ         USA     40.603041
28787  2009       TE  Branchburg        NJ         USA     40.603041
42604  2010       TE  Branchburg        NJ         USA     40.603041
57008  2011       TE  Branchburg        NJ         USA     40.603041
71493  2012       TE  Branchburg        NJ         USA     40.603041
86277  2013       TE  Branchburg        NJ         USA     40.603041

       homeLongitude  homeCountyFIPS recruitIds
3329      -74.687447         34035.0         []
6572      -74.687447         34035.0         []
9740      -74.687447         34035.0         []
13155     -74.687447         34035.0         []
17088     -74.687447         34035.0         []
28787     -74.687447         34035.0         []
42604     -74.687447         34035.0         []
57008     -74.687447         34035.0         []
71493     -74.687447         34035.0         []
86277     -74.687447         34035.0         []

In [11]:
different_teams = []
for ID in names_to_check:
    unique_teams = set(p[ID]['teams'])
    if len(unique_teams) > 1:
        different_teams.append({
            'id': ID,
            'unique_team_count': len(unique_teams),
            'unique_teams': unique_teams
        })
print(f"Number of people in names_to_check with more than 1 unique team: {len(different_teams)}")
for entry in different_teams:
    print(f"ID: {entry['id']} | Unique Teams: {entry['unique_team_count']} | Teams: {entry['unique_teams']}")

Number of people in names_to_check with more than 1 unique team: 53
ID: 189239 | Unique Teams: 2 | Teams: {'Illinois', 'Stephen F. Austin'}
ID: 485026 | Unique Teams: 2 | Teams: {'BYU', 'Southern Utah'}
ID: 545729 | Unique Teams: 2 | Teams: {'UTSA', 'Houston'}
ID: 546537 | Unique Teams: 2 | Teams: {'Tennessee', 'Arizona State'}
ID: 559719 | Unique Teams: 2 | Teams: {'Tennessee', 'California'}
ID: 559747 | Unique Teams: 2 | Teams: {'Tennessee', 'Duke'}
ID: 3125958 | Unique Teams: 3 | Teams: {'Massachusetts', 'UL Monroe', 'UTSA'}
ID: 536118 | Unique Teams: 2 | Teams: {'BYU', "Hawai'i"}
ID: 3895827 | Unique Teams: 3 | Teams: {'BYU', 'North Carolina', 'South Carolina'}
ID: 3916620 | Unique Teams: 2 | Teams: {'Eastern Michigan', 'Buffalo'}
ID: 3672882 | Unique Teams: 2 | Teams: {'Michigan', 'Central Michigan'}
ID: 3707332 | Unique Teams: 2 | Teams: {'Oklahoma', 'Arkansas State'}
ID: 3895858 | Unique Teams: 2 | Teams: {'SMU', 'Texas A&M'}
ID: 3910654 | Unique Teams: 3 | Teams: {'Sacramento State', 'Buffalo', 'UCLA'}
ID: 3932934 | Unique Teams: 2 | Teams: {'USC', 'UNLV'}
ID: 3949056 | Unique Teams: 2 | Teams: {'Oregon State', 'Temple'}
ID: 4038464 | Unique Teams: 3 | Teams: {'Oklahoma', 'Oklahoma State', 'Marshall'}
ID: 3860070 | Unique Teams: 2 | Teams: {'Texas Tech', 'Oregon State'}
ID: 4029790 | Unique Teams: 2 | Teams: {'Gardner-Webb', 'South Carolina'}
ID: 4038729 | Unique Teams: 2 | Teams: {'Rutgers', 'Indiana'}
ID: 4039555 | Unique Teams: 3 | Teams: {'Arkansas State', 'SMU', 'Houston'}
ID: 4046683 | Unique Teams: 2 | Teams: {'Notre Dame', 'UConn'}
ID: 4047647 | Unique Teams: 2 | Teams: {'Ole Miss', 'Houston'}
ID: 4243960 | Unique Teams: 2 | Teams: {'Middle Tennessee', 'Southern Miss'}
ID: 3916833 | Unique Teams: 3 | Teams: {'South Alabama', 'Vanderbilt', 'Army'}
ID: 3917959 | Unique Teams: 2 | Teams: {'Kansas', 'UTSA'}
ID: 3918640 | Unique Teams: 2 | Teams: {'South Alabama', 'UAB'}
ID: 3929783 | Unique Teams: 3 | Teams: {'Youngstown State', 'Indiana', 'Ball State'}
ID: 4034854 | Unique Teams: 3 | Teams: {'Oregon State', 'Idaho', 'Nebraska'}
ID: 4036216 | Unique Teams: 2 | Teams: {'Maryland', 'Kent State'}
ID: 4036332 | Unique Teams: 3 | Teams: {'Florida International', 'Fresno State', 'Boise State'}
ID: 4037304 | Unique Teams: 3 | Teams: {'UL Monroe', 'Georgia Tech', 'Utah State'}
ID: 4240493 | Unique Teams: 4 | Teams: {'Oklahoma', 'App State', 'Georgia Tech', 'Indiana'}
ID: 4362646 | Unique Teams: 3 | Teams: {'LSU', 'USC', 'Mississippi State'}
ID: 4569594 | Unique Teams: 3 | Teams: {'Arkansas State', 'Minnesota', 'Washington'}
ID: 4571882 | Unique Teams: 3 | Teams: {'Baylor', 'West Virginia', 'Kansas State'}
ID: 4038961 | Unique Teams: 2 | Teams: {'Oregon', 'Miami'}
ID: 4039599 | Unique Teams: 3 | Teams: {'UTEP', 'Syracuse', 'Arizona'}
ID: 4239084 | Unique Teams: 4 | Teams: {'Arkansas State', 'Southern Illinois', 'Cincinnati', 'Mississippi Valley State'}
ID: 4242306 | Unique Teams: 2 | Teams: {'San JosÃ© State', 'USC'}
ID: 4569288 | Unique Teams: 4 | Teams: {'Purdue', 'Louisville', 'Texas A&M', 'Colorado'}
ID: 4241833 | Unique Teams: 2 | Teams: {'Texas Tech', 'North Texas'}
ID: 4258193 | Unique Teams: 3 | Teams: {'Oklahoma', 'Michigan', 'Utah State'}
ID: 4360522 | Unique Teams: 3 | Teams: {'Massachusetts', 'Georgia State', 'Charlotte'}
ID: 4360801 | Unique Teams: 3 | Teams: {'Michigan State', 'Louisville', 'Florida State'}
ID: 4372540 | Unique Teams: 3 | Teams: {'UTEP', 'Texas A&M', 'Houston'}
ID: 4360303 | Unique Teams: 3 | Teams: {'Florida', 'Syracuse', 'California'}
ID: 4361090 | Unique Teams: 2 | Teams: {'UCLA', 'Alabama'}
ID: 4362791 | Unique Teams: 3 | Teams: {'Wake Forest', 'Vanderbilt', 'Middle Tennessee'}
ID: 4362188 | Unique Teams: 4 | Teams: {'Texas Tech', 'East Tennessee State', 'Jacksonville State', 'Massachusetts'}
ID: 4427313 | Unique Teams: 4 | Teams: {'Penn State', 'Buffalo', 'UConn', 'Kansas State'}
ID: 4429841 | Unique Teams: 2 | Teams: {'Charlotte', 'Miami'}
ID: 4569001 | Unique Teams: 4 | Teams: {'Middle Tennessee', 'Virginia', 'James Madison', 'UConn'}